/*!
 * Buttons
 * Lucas Carl 06/2017
 */

.btn {
	background-color: $white;
	background-image: none;
	display: inline-block !important;
	color: $text-color-light;
	font-weight: normal;
	text-align: center;
	line-height: normal;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	border-radius: $border-radius;
	border: 1px solid $border-color;
	padding: $spacer-4 $spacer-6 !important;
	transition: all .25s;

	&:hover,
	&:focus {
		background-color: darken($white, 5%);
		color: $text-color-light;
		text-decoration: none;
		outline: none;
	}

	&:active {
		background-image: none;
		outline: none;
		transform: translateY($spacer-1);
	}

	&[disabled],
	&.disabled {
		cursor: not-allowed;
		filter: grayscale(1);
		opacity: .8;

		&:active {
			transform: translateY(0);
		}
	}

	&.mb-transparent {
		background: none !important;
		border: none;

		&:hover,
		&:focus {
			opacity: .9;
		}

		&:active {
			transform: translateY(0);
		}
	}

	@extend %inputSizes;
	@include button-variants;
}
