/*!
 * mockingbird buttons.css 05/2017
 */

@mixin mb-buttons() {
	@each $mb-color in map-keys($mb-colors) {

		$color: map-get($mb-colors, #{$mb-color});
		$text: map-get($mb-text, #{$mb-color});

		&.mb-#{$mb-color} {
			background-color: $color;
			color: $text !important;

			&:hover,
			&:focus {
				background-color: darken($color, 5%);
			}

			&.mb-outline {
				color: $color !important;
				border-color: $color;

				&:hover,
				&:focus {
					color: $text !important;
					background-color: $color !important;
					border-color: $border-color;
				}
			}
		}

	}
}

.btn {
	background-color: $white;
	background-image: none;
	display: inline-block !important;
	color: $text-color-light;
	font-weight: normal;
	text-align: center;
	line-height: normal;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	border-radius: $border-radius;
	border: 1px solid $border-color;
	padding: $spacer-4 $spacer-6 !important;
	margin-top: 0;
	margin-bottom: 1em;
	transition: all .25s;

	&:hover,
	&:focus {
		background-color: darken($white, 5%);
		color: $text-color-light;
		text-decoration: none;
		outline: none;
	}

	&:active {
		background-image: none;
		outline: none;
		transform: translateY($spacer-1);
	}

	&[disabled],
	&.disabled {
		cursor: not-allowed;
		filter: grayscale(1);
		opacity: .8;

		&:active {
			transform: translateY(0);
		}
	}

	@extend %inputSizes;
	@include mb-buttons;
}
