/*!
 * mockingbird buttons.css 01/2017
 */

// base styling
// ----

.btn {
	background-image: none;
	display: inline-block !important;
	font-weight: normal;
	text-align: center;
	line-height: normal;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	border-radius: $border-radius-2;
	margin-top: 0;
	margin-bottom: 1rem;
	transition: all .25s;
	&:hover,
	&:focus {
		text-decoration: none;
		outline: none;
	}
	&:active,
	&.active {
		background-image: none;
		outline: none;
		transform: translateY(.1rem);
	}
	&[disabled],
	&.disabled {
		cursor: not-allowed;
		opacity: .8;
	}

	@include mb-colors(false,true);
}

// sizes
// ----

.btn,
.btn-md {
	font-size: $font-size-3;
	padding: $spacer-3 $spacer-6 !important;
	border-radius: $border-radius-0;
}

.btn-sm {
	font-size: $font-size-2;
	padding: $spacer-2 $spacer-5 !important;
	border-radius: $border-radius-2;
}

.btn-lg {
	font-size: $font-size-0;
	padding: $spacer-4 $spacer-7 !important;
	border-radius: $border-radius-3;
}

// button groups
// ----

.btn-group {
	@include clearfix;
	.btn,
	button {
		display: block;
		float: left;
		border-radius: 0;
		&:first-child {
			border-radius: $border-radius-0 0 0 $border-radius-0;
			border-right: 0;
		}
		&:last-child {
			border-radius: 0 $border-radius-0 $border-radius-0 0;
			border-left: 0;
		}
		&.btn-sm:first-child { border-radius: $border-radius-2 0 0 $border-radius-2; }
		&.btn-sm:last-child { border-radius: 0 $border-radius-2 $border-radius-2 0; }
		&.btn-lg:first-child { border-radius: $border-radius-3 0 0 $border-radius-3; }
		&.btn-lg:last-child { border-radius: 0 $border-radius-3 $border-radius-3 0; }
		&.active {
			background: $mb-primary;
		}
	}
}
