/*!
 * mockingbird cards.css 05/2017
 */

@mixin mb-cards() {
	@each $mb-color in map-keys($mb-colors) {

		$color: map-get($mb-colors, #{$mb-color});

		&.mb-#{$mb-color} {
			border-color: $color;

			&.callout {
				border-color: $border-color $border-color $border-color $color;
			}
		}

	}
}

@each $mb-color in map-keys($mb-colors) {
	$color: map-get($mb-colors, #{$mb-color});
	$text: map-get($mb-text, #{$mb-color});

	.mb-section-#{$mb-color},
	.section.mb-#{$mb-color},
	section.mb-#{$mb-color} {
		background-color: $color;

		&, a {
			color: $text !important;
		}

		&.link-arrow::after,
		.link-arrow::after {
			background: $text !important;
		}
	}
}

.card {
	background: $body-bg;
	position: relative;
	display: block;
	height: auto;
	width: 100%;
	margin-bottom: $spacer-0;
	border-radius: $border-radius;
	border: 1px solid $border-color;
	overflow: hidden;

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	@include mb-cards;
}

.card-title {
	margin-top: 0;
	margin-bottom: $spacer-0;

	& > * {
		margin: 0 !important;
	}

	&.mb-sm {
		margin-bottom: $spacer-5;
	}
}

.card-block {
	padding: $spacer-0;

	@include clearfix;
}

.card-img {
	display: block;
	height: auto;
	width: 100%;
}

.callout {
	@extend .card;

	border-left-width: .5rem;
	border-left-color: $gray;
}

section,
.section {
	position: relative;
	display: block;

	@include clearfix;
}
