/*!
 * mockingbird forms.css 01/2017
 */

form {
	margin: 0;
}

%inputSizes {
	&.input-sm {
		font-size: $font-size-2;
		padding: $spacer-2 $spacer-5;
		border-radius: $border-radius-2;
	}

	&.input-md {
		font-size: $font-size-3;
		padding: $spacer-3 $spacer-5;
		border-radius: $border-radius-0;
	}

	&.input-lg {
		font-size: $font-size-0;
		padding: $spacer-4 $spacer-5;
		border-radius: $border-radius-3;
	}
}

textarea,
input[type="url"],
input[type="tel"],
input[type="time"],
input[type="week"],
input[type="date"],
input[type="text"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="datetime-local"] {
	background-color: $body-bg;
	background-image: none;
	display: inline-block;
	width: 12rem;
	color: $text-color;
	font-weight: normal;
	line-height: normal;
	vertical-align: middle;
	white-space: nowrap;
	margin: 0;
	font-size: $font-size-3;
	padding: $spacer-3;
	border-radius: $border-radius-0;
	border: 1px solid $border-color;
	&:focus {
		outline-width: 0;
		border: 1px solid map-get($mb-colors,primary);
		box-shadow: inset 0 0 2px rgba(map-get($mb-colors,primary),.75);
	}
	@extend %inputSizes;
}

button,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
	@extend .btn;
	@extend %inputSizes;
}

textarea {
	height: auto;
	resize: vertical;
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow: auto;
}

select {
	color: inherit;
	line-height: $line-height-2;
	border-color: $border-color;
	padding: 0 $spacer-0;
}

.input-group {
	display: block;
	color: $text-color-lighter;
	margin-top: 0;
	margin-bottom: $spacer-6 !important;
	input, button, .btn {
		margin-bottom: 0;
	}
	label {
		display: block;
		font-size: $font-size-3;
		margin-bottom: $spacer-3;
	}
}

input[type="checkbox"],
input[type="radio"] {
	position: relative;
	display: inline-block;
	margin-right: $spacer-2;
	margin-bottom: $spacer-3;
}

.input-responsive {
	min-width: 100%;
}

// fieldset variants
// ----

fieldset {
	border-style: solid;
	border-color: $border-color;
	border-image: none;
	padding: $spacer-5 $spacer-3;
	margin: 0;
	margin-bottom: $spacer-0;
	border-radius: $border-radius-0;
	legend {
		color: $text-color-lighter;
		padding: 0 $spacer-1;
		border-radius: $border-radius-0;
	}
	@include mb-fieldset;
}
