/*!
 * mockingbird forms.css 04/2017
 */

@mixin mb-inputs() {
	@each $mb-color in map-keys($mb-colors) {

		$color: map-get($mb-colors, #{$mb-color});

		&.mb-#{$mb-color} {
			border-color: $color;

			&:focus {
				box-shadow: inset 0 0 2px rgba($color, .75);
			}
		}

	}
}

@mixin mb-fieldsets() {
	@each $mb-color in map-keys($mb-colors) {

		$color: map-get($mb-colors, #{$mb-color});

		&.mb-#{$mb-color} {
			border-color: $color;

			legend {
				color: $color !important;
			}
		}

	}
}

form {
	margin: 0;
}

%inputSizes {

	&, &.mb-md {
		font-size: $font-size-3;
		padding: $spacer-4 $spacer-6;
	}

	&.mb-sm {
		font-size: $font-size-2;
	}

	&.mb-lg {
		font-size: $font-size-0;
	}

}

textarea,
input[type="url"],
input[type="tel"],
input[type="time"],
input[type="week"],
input[type="date"],
input[type="text"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="datetime-local"] {
	@extend %inputSizes;

	background-color: $body-bg;
	background-image: none;
	display: inline-block;
	min-width: 12rem;
	color: $text-color;
	font-weight: normal;
	line-height: normal;
	vertical-align: middle;
	white-space: nowrap;
	margin: 0;
	font-size: $font-size-3;
	padding-left: $spacer-4;
	padding-right: $spacer-4;
	border-radius: $border-radius;
	border: 1px solid $border-color;

	&:focus {
		outline-width: 0;
		border: 1px solid map-get($mb-colors, primary);
		box-shadow: inset 0 0 2px rgba(map-get($mb-colors, primary), .75);
	}

	@include mb-inputs;
}

button,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
	@extend .btn;
	@extend %inputSizes;
}

textarea {
	height: auto;
	resize: vertical;
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow: auto;
}

select {
	@extend %inputSizes;

	background: $white $custom-select-bg no-repeat right .75em center;
  background-size: .625em;
	display: inline-block;
	vertical-align: middle;
	color: $text-color-light;
	font-size: $font-size-3;
	line-height: normal;
	padding-right: 2em;

	border-radius: $border-radius;
	border-color: $border-color;

	&:focus {
		background-color: darken($white, 5%);
		outline-width: 0;
	}

	@include mb-inputs;
}

input[type="checkbox"],
input[type="radio"] {
	position: relative;
	display: inline-block;
	margin-right: $spacer-2;
	margin-bottom: $spacer-3;
}

.input-responsive {
	min-width: 100%;
}

fieldset {
	border-style: solid;
	border-color: $border-color;
	border-image: none;
	padding: $spacer-5 $spacer-3;
	margin: 0;
	margin-bottom: $spacer-0;
	border-radius: $border-radius;

	legend {
		color: $text-color-lighter;
		padding: 0 $spacer-1;
		border-radius: $border-radius;
	}

	@include mb-fieldsets;
}
