/*!
 * mockingbird grid.css 05/2017
 */

%container {
	position: relative;
	display: block;
	padding: 0 $spacer-5;
	margin: auto;
}

@each $size in map-keys($container-sizes) {

	.container-#{$size} {
		@extend %container;

		max-width: map-get($container-sizes, #{$size});
	}

}

.container { @extend .container-md; }

%column {
	position: relative;
	float: left;
	min-height: 1px;
	width: 100%;
	padding: ($grid-gutter / 2) 0;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}


@for $i from 1 through $grid-columns {

	@each $breakpoint in map-keys($grid-breakpoints) {

		.col-#{$breakpoint}-#{$i} {
			@extend %column;

			@media (min-width: map-get($grid-breakpoints, #{$breakpoint})) {
				width: percentage($i / $grid-columns);
				padding: 0 ($grid-gutter / 2);
			}
		}

	}

	.col-#{$i} {
		@extend %column;

		width: percentage($i / $grid-columns);
		padding: 0 ($grid-gutter / 2);
	}

}

.row { @include clearfix; }

.flex-row {
	display: flex;

	> .col {
		@extend %column;

		padding: 0 ($grid-gutter / 2);
	}
}
