/*!
 * mockingbird grid.css 02/2017
 */

%container {
	position: relative;
	display: block;
	padding: 0 $spacer-5;
	margin: auto;
}

@each $size in map-keys($container-sizes) {
	.container-#{$size} {
		@extend %container;
		max-width: map-get($container-sizes, #{$size});
	}
}

.container {
	@extend .container-md;
}

%column {
	position: relative;
	float: left;
	min-height: 1px;
	padding: 0 ($grid-gutter / 2);
}

@each $breakpoint in map-keys($grid-breakpoints) {
	@for $i from 1 through $grid-columns {
		.col-#{$breakpoint}-#{$i} {

			@extend %column;
			width: percentage($i / $grid-columns);

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}

			@media (max-width: map-get($grid-breakpoints, #{$breakpoint})) {
				width: 100%;
				padding: ($grid-gutter / 2) 0;
			}

		}
	}
}

.row {
	@include clearfix;
}
