/*!
 * Labels
 * Lucas Carl 06/2017
 */

.label,
.badge {
	background-color: $gray-light;
	display: inline-block;
	color: $text-color;
	font-size: $font-size-sm;
	cursor: default;
	padding: $spacer-1 $spacer-0;
	border-radius: $border-radius;

	&:hover,
	&:focus {
		background-color: darken($gray-light, 5%);
		text-decoration: none;
		outline: none;
	}

	&.mb-sm {
		font-size: $font-size-xs;
	}

	@include label-variants;
}
