/*!
 * Lists
 * Lucas Carl 02/2017
 */

ol,
ul,
dl {
	padding-left: $spacer-6;
	margin: $spacer-0 0;
}

dl {
	padding: 0;
}

dt {
	font-weight: bold;
}

dd {
	padding-left: $spacer-0;
	margin: 0;
	margin-top: $spacer-1;
}

li {
	margin: $spacer-1 0;
}

ul {
	list-style: disc;
}

ul ul,
ol ol,
dl dl {
	padding-left: $spacer-6;
}

ul ul {
	list-style: circle;
}
