/*!
 * mockingbird misc.css 02/2017
 */

code,
kbd,
pre,
samp {
	font-family: $font-fam-monospace;
}

code {
	background-color: $code-bg;
	color: $code-color;
	font-size: $font-size-3;
	font-weight: normal;
	vertical-align: middle;
	padding: $spacer-2 $spacer-3;
	margin: 0 $spacer-3;
	border-radius: $border-radius;
}

pre {
	background-color: $code-bg;
  display: block;
	color: $code-color;
  font-size: $font-size-3;
	word-wrap: break-word;
	white-space: pre-wrap;
	padding: $spacer-5 $spacer-3;
	margin: $spacer-0 0;
	border-radius: $border-radius;
	border: 1px solid $border-color;
	overflow: auto;
  code {
		background-color: transparent;
		color: $code-color;
		font-size: inherit;
    padding: 0;
    border-radius: 0;
  }
}

summary {
	cursor: pointer;
}
