/*!
 * Miscellaneous
 * Lucas Carl 07/2017
 */

summary {
	cursor: pointer;
}

progress {
	appearance: none;
	display: inline-block;
	height: 1em;
	width: 100%;
	border-radius: $border-radius;
	border: 1px solid $white;
	overflow: hidden;

	&::-webkit-progress-bar {
		background: $mb-secondary;
	}

	&::-webkit-progress-value {
		background: $mb-primary;
	}

	&:not([value])::-webkit-progress-bar {
		background: $border-color;
	}
}

.mb-copyright {
	display: block;
	color: $text-color-lighter;
	text-align: center;
	font-size: $font-size-sm;
	padding: $spacer-4 0;
	margin-bottom: $spacer-0;
}

a.mb-copyright,
.mb-copyright a {
	color: $text-color-lighter;

	&:hover,
	&:focus {
		color: $text-color;
		text-decoration: none;
	}
}

figure {
	margin: 0 0 1em;
}
