/*!
 * Responsive Utilities
 * Lucas Carl 07/2017
 */

.mb-pull-right,
.pull-right {
	float: right;
}

.mb-pull-left,
.pull-left {
	float: left;
}

.mb-clearfix { @include clearfix; }

.mb-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mb-center {
	display: block;
	margin: auto;
}

@each $breakpoint in map-keys($grid-breakpoints) {

	.hide-#{$breakpoint} {
		@media (max-width: map-get($grid-breakpoints, #{$breakpoint})) {
			display: none;
		}
	}

}

@each $breakpoint in map-keys($grid-breakpoints) {

	.hide-#{$breakpoint}-up {
		@media (min-width: map-get($grid-breakpoints, #{$breakpoint}) + 1px) {
			display: none;
		}
	}

}

.mb-fullwidth { width: 100%; }

.mb-absolute {
	position: absolute;
	display: block;
	max-width: 100%;
	top: 0;
	left: 0;
}

.mb-fixed {
	@extend .mb-absolute;

	position: fixed;
}
