/*!
 * mockingbird tables.css 05/2017
 */

table {
	width: 100%;
	max-width: 100%;
	margin-bottom: $spacer-0;
	border-collapse: collapse;

	&.table-striped tbody tr:nth-of-type(odd),
	&.table-hover tr:hover {
	  background-color: $gray-lighter;
	}

	&.mb-sm {
		font-size: $font-size-3;

	  th, td {
	    padding: $spacer-3;
	  }
	}

	&.mb-no-border {
		tr, th, td {
			border: none;
		}
	}
}

tr:not(:first-child) {
	border-top: 1px solid $border-color;
}

th, td {
	padding: $spacer-5;
	border-right: 1px solid $border-color;

	&:last-child {
		border-right: none;
	}
}

th {
	background-color: $gray-lightest;
	font-weight: bold;
	border-bottom: 1px solid $border-color;
}
