/*!
 * mockingbird tables.css 03/2017
 */

table,
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: $spacer-0;
}

tr:not(:first-child) {
	border-top: 1px solid $border-color;
}

th,
td {
	padding: $spacer-5;
	border-right: 1px solid $border-color;
	&:last-child {
		border-right: none;
	}
}

th {
	background-color: $gray-lightest;
	font-weight: bold;
	border-bottom: 1px solid $border-color;
}

.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $gray-lighter;
  }
}

.table-sm {
  th,
  td {
    padding: $spacer-3;
  }
}

.table-hover {
  tr:hover {
		background-color: $gray-lighter;
	}
}
