/*!
 * mockingbird type.css 02/2017
 */

a {
	color: $link-color;
	text-decoration: none;
	&:hover,
	&:focus {
		color: $link-color-hover;
		text-decoration: $link-hover-decoration;
	}
}

%hN {
	font-weight: bold;
	margin: $spacer-7 0;
	& span,
	& .sub-heading {
		display: block;
		font-weight: normal;
		color: $text-color-lighter;
		font-size: $font-size-0;
	}
}

@for $i from 1 through 6 {
	h#{$i}, .h#{$i} {
		@extend %hN;
		font-size: map-get($heading-sizes,h#{$i});
	}
}

h6 span,
.h6 span,
h6 .sub-heading,
.h6 .sub-heading {
	font-size: $font-size-2;
}

h5 span,
.h5 span,
h5 .sub-heading,
.h5 .sub-heading {
	font-size: $font-size-3;
}

p {
	margin-top: 0;
	margin-bottom: $spacer-0;
}

hr {
	margin: $spacer-5 0;
	border: none;
	border-bottom: 1px solid $border-color;
}

small,
.small {
	font-size: $font-size-3;
}

strong,
.strong,
b {
	font-weight: bold;
}

mark,
.mark {
	background-color: rgba($brand-primary,.5);
}

i,
em,
dfn {
	font-style: italic;
}

del {
	text-decoration: line-through;
}

ins {
	text-decoration: underline;
}

sub,
sup {
	position: relative;
  font-size: $font-size-3;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25rem;
}

sup {
  top: -.5rem;
}

blockquote {
	display: block;
	font-style: italic;
	padding: $spacer-5;
	padding-left: $spacer-6;
	margin: 0 0 $spacer-0;
	border-left: .25rem solid $gray;
	p {
		margin: 0;
	}
}

// utilities
// ----

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-left { text-align: left; }

.text-justify { text-align: justify; }

.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// font families
// ----

.font-fam-serif { font-family: $font-fam-serif; }

.font-fam-monospace { font-family: $font-fam-monospace; }

// color variants
// ----

.text-light { color: $body-bg !important; }
.text-primary { color: $brand-primary !important; }
.text-success { color: $brand-success !important; }
.text-info { color: $brand-info !important; }
.text-warning { color: $brand-warning !important; }
.text-danger { color: $brand-danger !important; }

.text-muted {
	color: $text-color-lighter;
	a {
		color: $text-color-light;
	}
}

// arrow links
// ----

.link-arrow {
	text-decoration: none !important;
}

.link-arrow::after {
	content: '';
	background: $link-color;
	position: relative;
	display: inline-block;
	height: .75rem;
	width: .5rem;
	vertical-align: middle;
	transform: translateX(0);
	transition: all .2s;
	margin-top: -.125rem;
	margin-left: .5rem;

	background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="#548fdb" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
	mask-repeat: no-repeat;
  mask-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="#000" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
}

.link-arrow:hover::after,
.link-arrow:focus::after {
	background: $link-color-hover;
	transform: translateX(2px);
}
