/*!
 * mockingbird type.css 05/2017
 */

%hN {
	font-weight: bold;
	margin: $spacer-0 0;

	* {
		font-size: 1em;
	}

	& span,
	& .sub-heading {
		display: block;
		font-weight: normal;
		color: $text-color-lighter;
		font-size: $font-size-0;
	}
}

@for $i from 1 through 6 {

	h#{$i} {
		@extend %hN;

		font-size: map-get($heading-sizes, h#{$i});
	}

}

h5 *, h6 * {
	font-size: .875em !important;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link-color-hover;
		text-decoration: $link-hover-decoration;
	}
}

p {
	margin: $spacer-0 0;
}

hr {
	margin: $spacer-5 0;
	border: none;
	border-bottom: 1px solid $border-color;
}

small,
.small {
	font-size: $font-size-3;
}

strong,
.strong,
b {
	font-weight: bold;
}

mark,
.mark {
	background-color: rgba($mb-primary, .5);
}

i,
em,
dfn {
	font-style: italic;
}

del {
	text-decoration: line-through;
}

ins {
	text-decoration: underline;
}

sub,
sup {
	position: relative;
  font-size: $font-size-3;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

blockquote {
	display: block;
	font-style: italic;
	padding: $spacer-5;
	padding-left: $spacer-6;
	margin: 0 0 $spacer-0;
	border-left: .25em solid $gray;

	p { margin: 0; }
}

.font-fam-serif { font-family: $font-fam-serif; }

.font-fam-monospace { font-family: $font-fam-monospace; }
