/*!
 * Utilities
 * Lucas Carl 09/2017
 */

@include text-variants;

@include bg-variants;

@include margin-spacers;

@include box-shadows;

.mb-outline {
	background: transparent;
	border: 1px solid $border-color;
}

.mb-no-padding { padding: 0 !important; }

.mb-no-margin { margin: 0 !important; }

.mb-no-border {
	border: none !important;
	border-radius: 0 !important;
}

.mb-text-muted {
	color: $text-color-lighter !important;

	a {
		color: inherit;
	}
}

.mb-text-center { text-align: center !important; }

.mb-text-right { text-align: right !important; }

.mb-text-left { text-align: left !important; }

.mb-text-justify { text-align: justify !important; }

.mb-text-wrap {
	white-space: normal;
	word-wrap: break-word;
}

.mb-text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mb-text-underline { text-decoration: underline; }

.mb-text-through { text-decoration: line-through; }

.mb-text-bold { font-weight: bold; }

.mb-text-bolder { font-weight: bolder; }

.mb-text-normal { font-weight: normal; }

.mb-text-xs { font-size: $font-size-xs; }
.mb-text-sm { font-size: $font-size-sm; }
.mb-text-md { font-size: $font-size-base !important; }
.mb-text-lg { font-size: $font-size-lg; }

.hide,
.hidden,
[hidden] {
	display: none !important;
	visibility: hidden;
}

.show {
	display: block;
	visibility: visible;
	opacity: 1;
}

.invisible {
	visibility: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.hover-show {
	visibility: hidden;
}

.hover-item:hover,
.hover-item:focus {
	.hover-show {
		visibility: visible;
	}

	.hover-hide {
		visibility: hidden;
	}
}

.img-rounded {
	border-radius: $border-radius;
}

.img-circle {
	border-radius: 50%;
}

.img-parallax {
	position: fixed;
	display: block;
	max-width: 100%;
	top: 0;
	left: 0;
}
