/*!
 * mockingbird utilities.css 03/2017
 */

@mixin mb-text() {
	@each $mb-color in map-keys($mb-colors) {
		$color: map-get($mb-colors, #{$mb-color});

		.mb-text-#{$mb-color} {
			&, a {
				color: $color !important;
			}
			&.link-arrow::after,
			.link-arrow::after {
				background: $color !important;
			}
		}
	}
}

.mb-fullwidth {
	width: 100% !important;
}

.mb-outline {
	background: transparent !important;
	border: 1px solid $border-color;
}

.mb-responsive {
	max-height: 100%;
	max-width: 100%;
}

.mb-no-padding {
	padding: 0 !important;
}

.mb-no-margin {
	margin: 0 !important;
}

.mb-no-border {
	border: none !important;
}

.mb-absolute {
	position: absolute;
	display: block;
	max-width: 100%;
	top: 0;
	left: 0;
}

.mb-fixed {
	@extend .mb-absolute;
	position: fixed;
}

@include mb-text;

.mb-text-muted {
	color: $text-color-lighter !important;
	a {
		color: $text-color-light !important;
	}
}

.mb-text-center { text-align: center !important; }

.mb-text-right { text-align: right !important; }

.mb-text-left { text-align: left !important; }

.mb-text-justify { text-align: justify !important; }

.mb-text-wrap {
	white-space: normal;
	word-wrap: break-word;
}

.mb-text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mb-text-underline {
	text-decoration: underline;
}

.hide,
.hidden,
[hidden] {
	display: none !important;
}

.show {
	display: block;
}

.invisible {
	visibility: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.img-rounded {
	border-radius: $border-radius;
}

.img-circle {
	border-radius: 50%;
}

.img-parallax {
	position: fixed;
	display: block;
	max-width: 100%;
	top: 0;
	left: 0;
}

.mb-copyright {
	display: block;
	color: $text-color-lighter;
	text-align: center;
	font-size: $font-size-3;
	padding: $spacer-4 0;
	margin-bottom: $spacer-0;
	&:hover,
	&:focus {
		color: $text-color-light;
	}
}
