/*!
 * mockingbird vars.css 04/2017
 */

$gray-darker: #334;
$gray-dark: #445;
$gray: #667;
$gray-light: #e1e1e3;
$gray-lighter: #f5f5f7;
$gray-lightest: #fbfbfd;
$white: #fff;

$body-bg: $white;

$text-color: rgba(0,0,0,.8);
$text-color-light: rgba(0,0,0,.7);
$text-color-lighter: rgba(0,0,0,.6);
$border-color: rgba(0,0,0,.15);

$mb-colors: (
  default: $body-bg,
	dark: $gray,
	light: $gray-light,
	lighter: $gray-lighter,
	lightest: $gray-lightest,
	primary: #548fdb,
	secondary: #eee,
	success: #42d17f,
	warning: #f7ca18,
	danger: #ef4836
);

$mb-text: (
  default: $text-color-light,
	dark: #fff,
	light: $text-color-light,
	lighter: $text-color-light,
	lightest: $text-color-light,
	primary: #fff,
	secondary: $text-color-light,
	success: #fff,
	warning: #fff,
	danger: #fff
);

$mb-primary: map-get($mb-colors,primary);
$mb-secondary: map-get($mb-colors,secondary);


$font-fam-sans-serif: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-fam-serif: Georgia, "Times New Roman", Times, serif;
$font-fam-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

$font-fam-base: $font-fam-sans-serif;


$font-size-0: 1rem;
$font-size-1: 0.5rem;
$font-size-2: 0.75rem;
$font-size-3: 0.875rem;
$font-size-4: 1.25rem;
$font-size-5: 1.7rem;
$font-size-6: 2.15rem;
$font-size-7: 2.6rem;

$heading-sizes: (
  h1: $font-size-7,
	h2: $font-size-6,
	h3: $font-size-5,
	h4: $font-size-4,
	h5: $font-size-0,
	h6: $font-size-3
);


$container-sizes: (
	xs: 600px,
	sm: 720px,
	md: 960px,
	lg: 1200px,
	fluid: 100%
);

$res-break-1: 1200px;
$res-break-2: 960px;
$res-break-3: 720px;
$res-break-4: 600px;
$res-break-5: 480px;
$res-break-6: 360px;


$spacer-0: 1em;
$spacer-1: .15em;
$spacer-2: .25em;
$spacer-3: .375em;
$spacer-4: .5em;
$spacer-5: .75em;
$spacer-6: 1.5em;
$spacer-7: 2em;
$spacer-8: 3em;


$grid-columns: 12;
$grid-gutter: $spacer-0;

$grid-breakpoints: (
	xs: 480px,
	sm: 576px,
	md: 720px,
	lg: 960px,
	xl: 1200px
);


$line-height-0: 1.6;
$line-height-1: 1.25;
$line-height-2: 1.75;

$link-color: map-get($mb-colors,primary);

$link-color-hover: darken($link-color, 15%);

$link-hover-decoration: underline;

$border-radius: .25em;

$code-color: $text-color;
$code-bg: $gray-lighter;

$custom-select-bg: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23667' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
