/*!
 * Viewport
 * Lucas Carl 02/2017
 */

:root {
	// > 960px
	@media (min-width: map-get($grid-breakpoints, lg)) { font-size: 17px; }

	// < 960px
	@media (max-width: map-get($grid-breakpoints, lg)) { font-size: 16px; }

	// < 720px
	@media (max-width: map-get($grid-breakpoints, md)) { font-size: 15px; }

	// < 600px
	@media (max-width: map-get($grid-breakpoints, sm)) { font-size: 14px; }
}
