/*!
 * mockingbird buttons.css v1.0.0 12/2016
 */

// base styling
// ----

.btn {
	background-color: $white;
	background-image: none;
	display: inline-block;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	color: inherit;
	cursor: pointer;
	white-space: nowrap;
	padding: $spacer-3 $spacer-4;
	margin: 0;
	border: 1px solid $border-color;
	border-radius: $border-radius-2;
	box-shadow: 0 0 2px rgba(0,0,0,.2);
	&:hover,
	&:focus {
		background: $btn-hover-base;
		color: $text-color;
		text-decoration: none;
		outline: none;
	}
	&:active,
	&.active {
		background-image: none;
		outline: none;
	}
	&[disabled],
	&.disabled {
		cursor: not-allowed;
		opacity: .8;
	}
}

// button variants
// ----

.btn-primary {
	@include button-variant($btn-primary-color,$btn-primary-bg);
}

.btn-success {
	@include button-variant($btn-success-color,$btn-success-bg);
}

.btn-info {
	@include button-variant($btn-info-color,$btn-info-bg);
}

.btn-warning {
	@include button-variant($btn-warning-color,$btn-warning-bg);
}

.btn-danger {
	@include button-variant($btn-danger-color,$btn-danger-bg);
}
