/*!
 * mockingbird cards.css 01/2017
 */

.card {
	background: $body-bg;
	position: relative;
	display: block;
	height: auto;
	width: 100%;
	margin-bottom: $spacer-0;
	border-radius: $border-radius-0;
	border: 1px solid $border-color;
	overflow: hidden;
	* {
		margin-bottom: 0;
	}
}

.card-title {
	margin-bottom: $spacer-0;
	& > * {
		margin: 0 !important;
	}
}

.card-title-sm {
	@extend .card-title;
	margin-bottom: $spacer-5;
}

.card-block {
	padding: $spacer-0;
	@include clearfix;
}

.card-img {
	display: block;
	height: auto;
	width: 100%;
}

.card-primary { border-color: $brand-primary !important; }
.card-success { border-color: $brand-success !important; }
.card-info { border-color: $brand-info !important; }
.card-warning { border-color: $brand-warning !important; }
.card-danger { border-color: $brand-danger !important; }

// callout
// ----

.callout,
.card-callout {
	@extend .card;
	border-left: .5rem solid $gray;
	border-top-color: $border-color !important;
	border-right-color: $border-color !important;
	border-bottom-color: $border-color !important;
}
