/*!
 * mockingbird code.css 12/2016
 */

code,
kbd,
pre,
samp {
	font-family: $font-fam-monospace;
}

code {
	background-color: $code-bg;
	color: $code-color;
	font-size: $font-size-3;
	vertical-align: middle;
	padding: $spacer-2 $spacer-3;
	border-radius: $border-radius-1;
}

pre {
	background-color: $code-bg;
  display: block;
	color: $code-color;
  font-size: $font-size-3;
	word-wrap: break-word;
	white-space: pre-wrap;
	padding: $spacer-5 $spacer-3;
	margin-top: 0;
  margin-bottom: 1rem;
	border-radius: $border-radius-1;
	border: 1px solid $border-color;
	overflow: auto;
  code {
		background-color: transparent;
		color: $code-color;
		font-size: inherit;
    padding: 0;
    border-radius: 0;
  }
}
