/*!
 * mockingbird grid.css v1.0.0 12/2016
 */

.container,
.container-sm,
.container-xs,
.container-fluid {
	position: relative;
	display: block;
	margin: auto;
}

.container {
	max-width: $res-break-2;
	padding: 0 $spacer-5;
}

.container-sm {
	max-width: $res-break-3;
	padding: 0 $spacer-5;
}

.container-xs {
	max-width: $res-break-4;
	padding: 0 $spacer-5;
}

.row {

}

.col {

}
