/*!
 * mockingbird mixins.css v1.0.0 12/2016
 */

@mixin clearfix() {
	&::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

@mixin button-variant($color, $bg) {
	background-color: $bg;
	color: $color;
	border-color: darken($bg,10%);
	&:hover,
	&:focus,
	&:active,
	&.active {
		background-color: darken($bg,5%);
		color: $color;
		border-color: darken($bg,15%);
	}
	&:focus {
		border-color: darken($bg,25%);
	}
}

@mixin fieldset-variant($color) {
	background-color: rgba($color,.075);
	border-color: $color;
	legend {
		color: $color;
	}
}
