/*!
 * mockingbird type.css 12/2016
 */

%hN {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: $spacer-3;
	& span,
	& .sub-heading {
		display: block;
		font-weight: normal;
		color: $text-color-light;
		font-size: $font-size-0;
	}
}

@for $i from 1 through 6 {
	h#{$i}, .h#{$i} {
		@extend %hN;
		font-size: map-get($heading-sizes,h#{$i});
	}
}

h6 span,
.h6 span,
h6 .sub-heading,
.h6 .sub-heading {
	font-size: $font-size-2;
}

h5 span,
.h5 span,
h5 .sub-heading,
.h5 .sub-heading {
	font-size: $font-size-3;
}

p {
	margin-top: 0;
	margin-bottom: $spacer-0;
}

hr {
	margin: $spacer-5 0;
	border: 1px solid $border-color;
}

small,
.small {
	font-size: $font-size-3;
}

strong,
.strong,
b {
	font-weight: bold !important;
}

mark,
.mark {
	background-color: rgba($brand-primary,.5);
}

i,
em,
dfn {
	font-style: italic;
}

del {
	text-decoration: line-through;
}

ins {
	text-decoration: underline;
}

sub,
sup {
	position: relative;
  font-size: $font-size-3;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25rem;
}

sup {
  top: -.5rem;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.text-justify {
	text-align: justify !important;
}

.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-muted { color: $text-color-light !important; }
.text-primary { color: $brand-primary !important; }
.text-success { color: $brand-success !important; }
.text-info { color: $brand-info !important; }
.text-warning { color: $brand-warning !important; }
.text-danger { color: $brand-danger !important; }
