/*!
 * mockingbird utilities.css v1.0.0 12/2016
 */

// floats
// ----

.clearfix {
	@include clearfix;
}

.center-block {
	display: block;
	margin: auto;
}

.right-block {
	float: right !important;
}

.left-block {
	float: left !important;
}

.center-flex {
	//@include center-flex;
}

// toggle content
// ----

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}
