/*!
 * mockingbird utilities.css 01/2017
 */

// floats
// ----

.clearfix {
	@include clearfix;
}

.center-block {
	display: block;
	margin: auto;
}

.right-block,
.pull-right {
	float: right;
}

.left-block,
.pull-left {
	float: left;
}

.flex-center {
	@include flex-center;
}

.vertical-center {
	@include vertical-center;
}

.vertical-flex-center {
	@include vertical-flex-center;
}

// toggle content
// ----

.hide,
.hidden,
[hidden] {
	display: none !important;
}

.show {
	display: block;
}

.invisible {
	visibility: hidden;
}

// special utilities
// ----

.copyright-note {
	display: block;
	color: $text-color-light !important;
	text-align: center;
	font-size: $font-size-3;
	padding: $spacer-4 0;
	margin-bottom: $spacer-0;
}

// img
// ----

.img-responsive {
	max-height: 100%;
	max-width: 100%;
}

.img-rounded {
	border-radius: $border-radius-0;
}

.img-circle {
	border-radius: 50%;
}

.img-absolute {
	position: absolute;
	display: block;
	max-width: 100%;
	top: 0;
	left: 0;
}

.img-parallax {
	position: fixed;
	display: block;
	max-width: 100%;
	top: 0;
	left: 0;
}
