/*!
 * mockingbird vars.css 12/2016
 */

// colors
// ----

$gray-base: #445;
$gray: #555;
$gray-dark: #343434;
$gray-light: #d5d5d5;
$gray-lightest: #f5f5f7;
$white: #fff;

$brand-primary: #548fdb;
$brand-success: #42d17f;
$brand-info: #19b5fe;
$brand-warning: #f7ca18;
$brand-danger: #ef4836;

$body-bg: $white;

$text-color: $gray-base;

$text-color-light: #6c6c79;

$text-color-contrast: #fff;

$border-color: $gray-light;

// font families
// ----

$font-fam-sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-fam-serif: Georgia, "Times New Roman", Times, serif;
$font-fam-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

$font-fam-base: $font-fam-sans-serif;

// font sizes
// ----

$font-size-0: 1rem;
$font-size-1: 0.5rem;
$font-size-2: 0.75rem;
$font-size-3: 0.875rem;
$font-size-4: 1.25rem;
$font-size-5: 1.7rem;
$font-size-6: 2.15rem;
$font-size-7: 2.6rem;

$font-size-h1: $font-size-7;
$font-size-h2: $font-size-6;
$font-size-h3: $font-size-5;
$font-size-h4: $font-size-4;
$font-size-h5: $font-size-0;
$font-size-h6: $font-size-3;

// responsive breakpoints
// ----

$res-break-1: 1200px;
$res-break-2: 960px;
$res-break-3: 720px;
$res-break-4: 600px;
$res-break-5: 480px;
$res-break-6: 360px;

// buttons
// ----

$btn-default-color: $text-color-light;
$btn-default-bg: $white;

$btn-primary-color: $text-color-contrast;
$btn-primary-bg: $brand-primary;

$btn-success-color: $text-color-contrast;
$btn-success-bg: $brand-success;

$btn-info-color: $text-color-contrast;
$btn-info-bg: $brand-info;

$btn-warning-color: $text-color-contrast;
$btn-warning-bg: $brand-warning;

$btn-danger-color: $text-color-contrast;
$btn-danger-bg: $brand-danger;

$btn-hover-base: #f2f2f2;

// spacing
// ----

$spacer-0: 1rem;
$spacer-1: .25rem;
$spacer-2: .35rem;
$spacer-3: .5rem;
$spacer-4: .6rem;
$spacer-5: .75rem;
$spacer-6: 1.5rem;
$spacer-7: 2rem;
$spacer-8: 3rem;

// miscellaneous
// ----

$line-height-0: 1.25;
$line-height-1: 1;
$line-height-2: 1.7;

$link-color: $brand-primary;

$link-color-hover: darken($link-color, 15%);

$link-hover-decoration: underline;

$border-radius-0: .25rem;
$border-radius-1: .15rem;
$border-radius-2: .2rem;
$border-radius-3: .3rem;
$border-radius-4: .5rem;

$code-color: #bd4147;
$code-bg: $gray-lightest;

$pre-bg: $gray-lightest;
$pre-color: $gray-dark;
