/*!
 * mockingbird grid v0.1.0
 * (http://mockingbird.lucascarl.com/grid/)
 * last update 12/2016
 */
/*!
 * mockingbird reset.css v1.0.0 12/2016
 */
:root {
  font-size: 16px;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

figcaption,
figure,
main {
  display: block;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bolder;
}

code,
pre {
  font-family: monospace, monospace;
  font-size: 1rem;
}

abbr {
  border: 0;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
  text-decoration: underline dotted;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*!
 * mockingbird vars.css v1.0.0 12/2016
 */
/*!
 * mockingbird mixins.css v1.0.0 12/2016
 */
/*!
 * mockingbird grid.css v1.0.0 12/2016
 */
.container,
.container-sm,
.container-xs,
.container-fluid {
  position: relative;
  display: block;
  margin: auto;
}

.container {
  max-width: 960px;
  padding: 0 0.75rem;
}

.container-sm {
  max-width: 720px;
  padding: 0 0.75rem;
}

.container-xs {
  max-width: 600px;
  padding: 0 0.75rem;
}

/*!
 * mockingbird utilities.css v1.0.0 12/2016
 */
.clearfix::before, .clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

.center-block {
  display: block;
  margin: auto;
}

.right-block,
.pull-right {
  float: right !important;
}

.left-block,
.pull-left {
  float: left !important;
}

.hide,
.hidden,
[hidden] {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}
