/*!
 * mockingbird v1.0.0
 * (http://mockingbird.lucascarl.com)
 * last update 12/2016
 */
/*!
 * mockingbird vars.css v1.0.0 12/2016
 */
/*!
 * mockingbird mixins.css v1.0.0 12/2016
 */
/*!
 * mockingbird reset.css v1.0.0 12/2016
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*!
 * mockingbird frame.css v1.0.0 12/2016
 */
html, body {
  background-color: #fff;
  color: #343434;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #548fdb;
  text-decoration: none;
}

a:hover, a:focus {
  color: #2768bb;
  text-decoration: underline;
}

img {
  vertical-align: middle;
}

.img-responsive {
  max-height: 100%;
  max-width: 100%;
}

.img-rounded {
  border-radius: 4px;
}

.img-circle {
  border-radius: 50%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[role="button"] {
  cursor: pointer;
}

/*!
 * mockingbird type.css v1.0.0 12/2016
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*!
 * mockingbird grid.css v1.0.0 12/2016
 */
.container,
.container-sm,
.container-xs,
.container-fluid {
  position: relative;
  display: block;
  margin: auto;
}

.container {
  max-width: 960px;
}

.container-sm {
  max-width: 720px;
}

.container-xs {
  max-width: 600px;
}

/*!
 * mockingbird buttons.css v1.0.0 12/2016
 */
.btn {
  background-image: none;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 14px 20px;
  margin: 0;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.btn:hover, .btn:focus {
  background: #f2f2f2;
  color: #343434;
  text-decoration: none;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0;
}

.btn[disabled], .btn.disabled {
  cursor: not-allowed;
}

/*!
 * mockingbird utilities.css v1.0.0 12/2016
 */
.clearfix::before, .clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

.center-block {
  display: block;
  margin: auto;
}

.right-block {
  float: right !important;
}

.left-block {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}
