/*!
 * Mixins
 * Lucas Carl 07/2017
 */

@mixin clearfix() {
	&::before,
	&::after {
		content: '';
		display: table;
	}

	&::after {
		clear: both;
	}
}

@mixin button-variants() {
	@each $mb-color in map-keys($mb-colors) {

		$color: map-get($mb-colors, #{$mb-color});
		$text: map-get($mb-text, #{$mb-color});

		&.mb-#{$mb-color} {
			background-color: $color;
			color: $text;

			&:hover,
			&:focus {
				background-color: darken($color, 5%);
				color: $text;
			}

			&.mb-outline {
				background: transparent;
				color: $color;
				border-color: $color;

				&:hover,
				&:focus {
					color: $text;
					background-color: $color;
					border-color: $border-color;
				}
			}
		}

	}
}

@mixin input-variants() {
	@each $mb-color in map-keys($mb-colors) {

		$color: map-get($mb-colors, #{$mb-color});

		&.mb-#{$mb-color} {
			border-color: $color;

			&:focus {
				box-shadow: inset 0 0 2px rgba($color, .75);
			}
		}

		&[disabled],
		&.disabled {
			background-color: map-get($mb-colors, lightest);
			pointer-events: none;
			cursor: not-allowed;
			filter: grayscale(1);
			opacity: .8;
		}

	}
}

@mixin text-variants() {
	@each $mb-color in map-keys($mb-colors) {

		$color: map-get($mb-colors, #{$mb-color});

		.mb-text-#{$mb-color} {
			color: $color !important;

			a {
				color: inherit;
			}
		}

	}
}

@mixin table-variants() {
	@each $mb-color in map-keys($mb-colors) {
		$color: map-get($mb-colors, #{$mb-color});

		&.mb-#{$mb-color} {
			background-color: rgba($color, .25);
		}
	}
}

@mixin badge-variants() {
	@each $mb-color in map-keys($mb-colors) {

		$color: map-get($mb-colors, #{$mb-color});
		$text: map-get($mb-text, #{$mb-color});

		&.mb-#{$mb-color} {
			background-color: $color;
			color: $text !important;

			&:hover,
			&:focus {
				background-color: darken($color, 5%);
			}

			&.mb-outline {
				color: $color !important;
				border-color: $color;
			}
		}

	}
}

@mixin card-variants() {
	@each $mb-color in map-keys($mb-colors) {

		$color: map-get($mb-colors, #{$mb-color});

		&.mb-#{$mb-color} {
			border-color: $color;

			&.callout {
				border-color: $border-color $border-color $border-color $color;
			}

			&.mb-outline {
				background: transparent;
			}
		}

	}
}

@mixin make-columns() {
	@for $i from 1 through $grid-columns {

		.col-#{$i} {
			@extend %column;

			max-width: percentage($i / $grid-columns);
			padding: 0 ($grid-gutter / 2);
		}

	}

	@each $breakpoint in map-keys($grid-breakpoints) {

		$grid-breakpoint: map-get($grid-breakpoints, #{$breakpoint});

		@for $i from 1 through $grid-columns {

			.col-#{$breakpoint}-#{$i} {
				@extend %column;

				@media (min-width: $grid-breakpoint) {
					max-width: percentage($i / $grid-columns);
					padding: 0 ($grid-gutter / 2);
				}
			}

		}

	}
}

@mixin alert-variants() {
	@each $mb-color in map-keys($mb-colors) {

		$color: map-get($mb-colors, #{$mb-color});
		$text: map-get($mb-text, #{$mb-color});

		&.mb-#{$mb-color} {
			background: rgba($color, .9);
			border-color: $color;
			color: $text;
		}

	}
}

@mixin bg-variants() {
	@each $mb-color in map-keys($mb-colors) {

		$color: map-get($mb-colors, #{$mb-color});
		$text: map-get($mb-text, #{$mb-color});

		.mb-bg-#{$mb-color},
		input.mb-bg-#{$mb-color} {
			background-color: $color;

			&, a {
				color: $text;
			}
		}

		// !important colored anchor inside a colored section
		a.mb-bg-#{$mb-color} {
			color: $text !important;
		}
	}
}

@mixin margin-spacers() {
	@each $position in map-keys($positions) {

		.mb-#{$position} {
			margin-#{$position}: map-get($mb-spacers, 1x);
		}

		@each $mb-spacer in map-keys($mb-spacers) {
			.mb-#{$position}-#{$mb-spacer} {
				$spacer: map-get($mb-spacers, $mb-spacer);

				margin-#{$position}: $spacer;
			}
		}

	}
}
