/*!
 * Reset
 * Lucas Carl 03/2017
 */

:root {
	font-size: 16px;
}

html,
body {
	background-color: $body-bg;
	color: $text-color;
	font-family: $font-fam-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	letter-spacing: .015rem;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

input,
button,
select,
textarea {
	appearance: none;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

img {
	vertical-align: middle;
	max-height: 100%;
	max-width: 100%;
	border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

figcaption,
figure,
main {
  display: block;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bolder;
}

abbr {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration: underline dotted;
	border: 0;
}

abbr[title] {
	cursor: help;
}

[role="button"] {
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
	border: 0;
}

input {
  line-height: normal;
}

input[type="search"] {
  appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"] {
	appearance: checkbox;
}

input[type="radio"] {
	appearance: radio;
}

textarea {
	min-height: 3rem;
  overflow: auto;
}

table,
thead,
tbody {
	text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
	text-align: inherit;
  padding: 0;
}

figure {
	margin: 0 0 $spacer-0;
}

label {
	line-height: normal;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}
