/*!
 * mockingbird frame.css v1.0.0 12/2016
 */

html, body {
	background-color: $body-bg;
	color: $text-color;
	font-family: $font-fam-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover,
	&:focus {
		color: $link-color-hover;
		text-decoration: $link-hover-decoration;
	}
}

img {
	vertical-align: middle;
}

.img-responsive {
	max-height: 100%;
	max-width: 100%;
}

.img-rounded {
	border-radius: 4px;
}

.img-circle {
	border-radius: 50%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

[role="button"] {
  cursor: pointer;
}
