.input-group,
.btn-group {
	input, select, button, .btn {
		display: block;
		float: left;
		border-radius: 0;
		border-collapse: collapse;

		&:first-child {
			border-radius: $border-radius 0 0 $border-radius;
			border-right: 0;
		}

		&:last-child {
			border-radius: 0 $border-radius $border-radius 0;
		}

		&:not(:first-child):not(:nth-child(2)) {
			border-left: 0;
		}

		&.active {
			background: $mb-primary;
			color: #fff;
			transform: translateY(0);
		}

		&:active {
			transform: translateY(0);
		}
	}

	@include clearfix;
}
