/*!
 * Navbar
 * Lucas Carl 06/2017
 */

.navbar {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid $border-color;
	overflow-x: auto;

	z-index: 10;

	.nav-container,
	> [class^="container"] {
		background: $navbar-bg;
		position: relative;
		display: flex;
		align-items: stretch;
		width: 100%;
		padding: 0 $spacer-5;
		margin: auto;
	}

	.nav-left,
	.nav-right {
		display: flex;
		width: 100%;
	}

	.nav-right { justify-content: flex-end; }

	.nav-center {
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}
}

.nav-item {
	display: flex;
	align-items: center;
	line-height: $line-height-sm;
	padding: $navbar-space-y $navbar-space-x;

	img {
		max-height: 1.5em;
	}
}

.nav-item a,
a.nav-item {
	color: $text-color-light;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $text-color;
	}

	&.active {
		color: $mb-primary;
	}
}
