/*!
 * Sections
 * Lucas Carl 07/2017
 */

@each $mb-color in map-keys($mb-colors) {

	$color: map-get($mb-colors, #{$mb-color});
	$text: map-get($mb-text, #{$mb-color});

	.section.mb-#{$mb-color},
	section.mb-#{$mb-color} {
		background-color: $color;
		color: $text;

		a {
			color: inherit;
		}
	}

}

section,
.section {
	position: relative;
	display: block;

	padding: $spacer-7 0;

	&.mb-sm {
		padding: $spacer-0 0;
	}

	&.mb-lg {
		padding: $spacer-8 0;
	}

	&.mb-outline {
		border: none;
		border-top: 1px solid $border-color;
	}

	&.container {
		max-width: 100%;
		padding-top: $spacer-7;
		padding-bottom: $spacer-7;
	}

	@include clearfix;
}
